
<li class="mb-1">
    <button class="btn btn-category rounded text-start text-truncate mw-100 d-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#collapse-@((Items.First().Key.SuperCategory).GetKey())" aria-expanded="true">
        <u class="text-start pe-none">
            @Items.First().Key.SuperCategory
        </u>
    </button>
</li>

<div class="collapse show" id="collapse-@((Items.First().Key.SuperCategory).GetKey())">

    <EntitySidebarCategories 
        Items=@Items
        Title=@Title 
        CurrentItem=@CurrentItem
        DeleteCallback=@DeleteCallback 
        DeleteTitle=@DeleteTitle 
        LoadCallback=@LoadCallback />

</div>

@code {
    [Parameter]
    public required Dictionary<(string SuperCategory, string Category, string Key), string> Items { get; set; } = null!;

    [Parameter]
    public required string Title { get; set; } = null!;

    [Parameter]
    public (string SuperCategory, string Category, string Key) CurrentItem { get; set; }

    [Parameter]
    public EventCallback<IEnumerable<(string SuperCategory, string Category, string Key)>> DeleteCallback { get; set; }

    [Parameter]
    public string DeleteTitle { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<(string SuperCategory, string Category, string Key)> LoadCallback { get; set; }
}