.btn-item-delete:focus {
    box-shadow: 0 0 0 1px rgb(220 53 69 / 70%);
    height: 24px;
}

.btn-item-delete:hover, .btn-item-delete:focus {
    color: rgba(220, 53, 69, 0.85);
    background-color: rgba(220, 53, 69, 0.1);
}
