﻿.main {
    grid-area: main;
}

@media (min-width: 800px) {

    .series {
        display: grid;
        gap: 1.5rem;
        grid-template-areas: "sidebar main";
        grid-template-columns: 324px 1fr;
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }
}
