@page "/"

<PageTitle>ToothPick - Home</PageTitle>

<h2>Processing Status</h2>

<StatusProgress />

<StatusSeries />

<br />

<h2>Downloads</h2>

<Downloads />

<br />

<h2>Messages</h2>

<CascadingValue Name="@nameof(Filter)" Value="@Filter">
    <LogsList />
</CascadingValue>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = nameof(Filter))]
    public string? Filter { get; set; }
}