@page "/libraries/{LibraryName}"

@inject ToothPickContext ToothPickContext

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@("/libraries")">Libraries</a></li>
        <li class="breadcrumb-item active" aria-current="page">@LibraryName</li>
    </ol>
</nav>

<h2>Series</h2>

@code {

    [Parameter]
    public string LibraryName { get; set; }

}