@page "/settings"

@inject ToothPickContext ToothPickContext
@inject NavigationManager NavigationManager

<h2>Settings</h2>
  
<PageTitle>ToothPick - Settings</PageTitle>

<CascadingValue Name="@nameof(ItemKey)" Value="@ItemKey">
    <SettingsList />
</CascadingValue>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = nameof(ItemKey))]
    public string ItemKey { get; set; } 
}