<nav class="navbar navbar-dark bg-dark navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" href=""><img src="favicon.ico" style="height:40px;" class="mr-1" />ToothPick</a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="libraries">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Libraries
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="series">
                        <span class="oi oi-list" aria-hidden="true"></span> Series
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="medias">
                        <span class="oi oi-menu" aria-hidden="true"></span> Medias
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="settings">
                        <span class="oi oi-cog" aria-hidden="true"></span> Settings
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    bool collapseNavMenu = true;

    string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
